# Discord API
hikari
hikari-tanjun
hikari-sake
hikari[speedups]
# hikari-lightbulb
uvloop>=0.16; os_name != 'nt'
aiofiles
aiohttp

# Utilities
python-dotenv
APScheduler
pygount
colorama
asyncpg
psutil
distro
emoji

# REST API
fastapi
uvicorn
requests

# Dev
mypy
flake8
black==21.11b1
isort
codespell
nox