# Discord API
git+https://github.com/hikari-py/hikari
git+https://github.com/FasterSpeeding/Tanjun
git+https://github.com/AlexanderHOtt/Sake@dependabot/pip/hikari-approx-eq-2.0.0.dev103
hikari[speedups]
hikari-lightbulb
uvloop>=0.16; os_name != 'nt'

# Utilities
python-dotenv
APScheduler
pygount
colorama
asyncpg
aiofiles

# REST API
fastapi
uvicorn
requests

# Dev
mypy
flake8
black
isort
codespell
nox